.header__logo {
    display: flex;
    max-width: 142px;
    align-self: flex-start;
    margin-bottom: 40px;
}


@media screen and (max-width: 595px) {
    .header__logo {
        max-width: 104px;
        margin-left: 27px;
        margin-bottom: 32px;
    }
}