.profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFF;
    margin: 0;
    padding: 0;
    max-width: 450px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


@media screen and (max-width: 1230px) {
    .profile__name {
        max-width: 350px;
    }
}

@media screen and (max-width: 1130px) {
    .profile__name {
        max-width: 250px;
    }
}


@media screen and (max-width: 700px) {
    .profile__name {
        max-width: 180px;
        font-size: 27px;
        line-height: 33px;
    }
}

@media screen and (max-width: 595px) {
    .profile__name {
        max-width: 230px;
        margin-top: 27px;
        margin-left: 30px;
    }
}