.profile__info {
    flex-grow: 1;
    display: grid;
    column-gap: 19px;
    justify-self: center;
    align-self: center;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content;
    margin: 0 auto;
    padding: 0;
}


@media screen and (max-width: 595px) {
    .profile__info {
        column-gap: 15px;
        margin-bottom: 32px;
    }
}