.elements__like-button {
    width: 22px;
    height: 19px;
    background: url(../../../images/heart.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    opacity: 100%;
    transition: opacity 0.3s ease;
}

.elements__like-button:hover {
    opacity: 50%;
}