.elements__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    row-gap: 21px;
    column-gap: 17px;
    grid-auto-rows: auto;
    justify-items: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

@media screen and (max-width: 595px) {
    .elements__list {
        grid-template-columns: repeat(1, minmax(282px, 1fr));
    }
}