.popup__input {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin: 0;
    padding: 0 0 13px 0;
    width: 83%;
    height: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background: #FFF;
    box-sizing: border-box;
    outline: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.popup__input:last-of-type {
    margin-top: 25px;
}

@media screen and (max-width: 595px) {
    .popup__input {
        padding: 0 0 12px 0;
    }
}